body{
	background-image: url(bg4.jpg);
	background-repeat: no-repeat;
	background-size:  initial;
}
div{
	font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    margin-top: 17%;
}

